.cards-features > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.cards-features > ul > li {
  background-color: var(--background-color);
}

.cards-features .cards-features-card-body {
  padding: 0;
}

.cards-features .cards-features-card-body p {
  margin: 0;
  font-size: var(--body-font-size-s);
  line-height: 1.6;
}

@media (width >= 900px) {
  .cards-features > ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
