/* stylelint-disable max-line-length */

/* LG Design System Fonts */
/* Using Open Sans as primary font (similar to LG Smart UI) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
